{% extends "account/base.html" %} {% load i18n %} {% load static %} {% load
account socialaccount %} {% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block css %}

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

<link rel="stylesheet" href="{% static 'accounts/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
<link rel="stylesheet" href="{% static 'base/css/footer.css' %}" />

{% endblock %}

{% block content %}
<div class="content">
  <div class="login_container">

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="form_content">
        <div class="img">
          <img src="{% static 'accounts/img/login.png' %}" alt="imgage" />
        </div>
        {% if form.non_field_errors %}
        <div class=" alert">
          {% for error in form.non_field_errors %}
          <strong>{{ error }}</strong>
          <button type="button" class="closebtn" data-dismiss="alert" aria-label="Close">
            &times;
          </button>
          {% endfor %}
        </div>
        {% endif %}

        <div class="group">
          <span class="icon"><i class="fa fa-envelope"></i></span>
          <input type="email" name="login" maxlength="150" required id="id_login" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
        </div>

        <div class="group">
          <span class="icon"><i class="fa fa-lock"></i></span>
          <input type="password" name="password" required id="id_password" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="submit">
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="primaryAction" type="submit">{% trans "Login" %}</button>
        </div>

        <p class="p_signup">
          {% blocktrans %}Don't have an account yet, then please
          <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}
        </p>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block extra_body %}

{% include "core/base/footer.html" %}

{% endblock %}

{% block js %}

<script src="{% static 'accounts/js/login.js' %}"></script>

{% endblock %}