{% extends "account/base.html" %} {% load i18n %} {% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %} {% block css %}

<link rel="stylesheet" href="{% static 'accounts/css/password_change.css' %}" />
<link rel="stylesheet" href="{% static 'base/css/footer.css' %}" />

{% endblock %}

{% block content %}

<div class="password_content">

    <h1>{% trans "Change Password" %}</h1>

    <div class="password_container">

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">

            {% csrf_token %}

            <div class="group">
                <label for="{{ form.oldpassword.id_for_label }}">{{ form.oldpassword.label }}</label>
                <span class="icon"><i class="fa fa-lock"></i></span>
                {{ form.oldpassword }}
                <div class="alert_error">
                    {{ form.oldpassword.errors }}
                </div>
                <span class="helptext">{{ form.oldpassword.help_text }}</span>
            </div>
            <div class="group">
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                <span class="icon"><i class="fa fa-lock"></i></span>
                {{ form.password1 }}
                <div class="alert_error">
                    {{ form.password1.errors }}
                </div>
                <span class="helptext">{{ form.password1.help_text }}</span>
            </div>
            <div class="group">
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                <span class="icon"><i class="fa fa-lock"></i></span>
                {{ form.password2 }}
                <div class="alert_error">
                    {{ form.password2.errors }}
                </div>
                <span class="helptext">{{ form.password2.help_text }}</span>
            </div>


            <div class="submit">
                <button class="button red" type="submit">
                    <span><i class="fa fa-gear"></i></span> Change Password
                </button>
            </div>
        </form>

    </div>
</div>


{% endblock %} {% block extra_body %}
{% include "core/base/footer.html" %} {% endblock %} {% block js %}

<script src="{% static 'base/js/button.js' %}"></script>

{% endblock %}