{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <!--{{ form.as_p }}-->


  <p>
    {{ form.email.errors }}
    {{ form.email.label }}
    {{ form.email }}
  </p>
  <p>
    {{ form.first_name.errors }}
    {{ form.first_name.label }}
    {{ form.first_name }}
  </p>
  <p>
    {{ form.last_name.errors }}
    {{ form.last_name.label }}
    {{ form.last_name }}
  </p>
  <p>
    {{ form.address.errors }}
    {{ form.address.label }}
    {{ form.address }}
  </p>
  <p>
    {{ form.phone.errors }}
    {{ form.phone.label }}
    {{ form.phone }}
  </p>
  <p>
    {{ form.password1.errors }}
    {{ form.password1.label }}
    {{ form.password1 }}
  </p>
  <p>
    {{ form.password2.errors }}
    {{ form.password2.label }}
    {{ form.password2 }}
  </p>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
