{% extends "base_dashboard.html" %} {% load i18n %} {% load static %}
{% block title %}{% trans "List of Pharmacist" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/pharmacist_list.css' %}" />
{% endblock %}

{% block content %}

<div class="search">
  {% include 'search/snippets/search-form.html' %}
</div>

{% blocktrans with pharmacy=request.user.pharmacyuser.works_at city=request.user.pharmacyuser.city %}
<h1>List of users in "{{ pharmacy }}" Pharmacy found in the city of "{{ city }}"</h1>
{% endblocktrans %}


<br>

<div class="pharmacist_list">

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Profile Pic</th>
        <th>Is Pharmacist</th>
      </tr>
    </thead>
    <tbody>
      {% for pharmacy_user in pharmacy_users %}
      <tr>
        <td>{{ pharmacy_user.user.email }}</td>
        <td>{{ pharmacy_user.user.first_name }}</td>
        <td>{{ pharmacy_user.user.last_name }}</td>
        <td>{{ pharmacy_user.user.phone }}</td>
        <td>
          <div class="img">
            <img src="{{ pharmacy_user.user.profile.image.url }}" alt="profile">
          </div>
        </td>
        <td>
          <form action="{% url 'core:pharmacist_add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ pharmacy_user.user.id }}" name="pharmacist_id">

            {% if pharmacy_user.user.is_pharmacist %}

            <button class="button remove" type="submit"><span><i class="fa fa-trash"></i></span> Remove</button>

            {% else %}

            <button class="button add" type="submit"><span><i class="fa fa-user-plus"></i></span> Add</button>

            {% endif %}

          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<br>

{% if is_paginated %}
<ul class="pagination">

  {% if page_obj.has_previous %}
  <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-circle-left"></i></a>
  </li>
  {% else %}
  <li class="disabled arrow"><span><i class="fa fa-chevron-circle-left"></i></span></li>
  {% endif %}

  {% for i in paginator.page_range %}

  {% if page_obj.number == i %}
  <li class="active">
    <span>{{ i }} <span class="sr-only">(current)</span></span>
  </li>
  {% else %}
  <li>
    <a href="?page={{ i }}">{{ i }}</a>
  </li>
  {% endif %}

  {% endfor %}

  {% if page_obj.has_next %}
  <li class="arrow"><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-circle-right"></i></a>
  </li>
  {% else %}
  <li class="disabled arrow"><span><i class="fa fa-chevron-circle-right"></i></span></li>
  {% endif %}

</ul>
{% endif %}


{% endblock %}

{% block js %}

<script src="{% static 'base/js/button.js' %}"></script>

{% endblock %}