{% extends "account/base.html" %} {% load i18n %} {% load static %}
{% block head_title %}{% trans "Confirm Delete" %}{% endblock %} {% block css %}

<link rel="stylesheet" href="{% static 'drug/css/confirm_delete.css' %}" />
<link rel="stylesheet" href="{% static 'base/css/footer.css' %}" />

{% endblock %}

{% block content %}

<div class="confirm_delete">

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ drug.brand_name }}"?</p>

        <button class="button red" type="submit"><span><i class="fa fa-trash"></i></span> Confirm</button>
    </form>

</div>

{% endblock %}


{% block extra_body %}

{% include "core/base/footer.html" %}

{% endblock %}



{% block js %}

<script src="{% static 'base/js/button.js' %}"></script>

{% endblock %}