{% extends "base_dashboard.html" %} {% load i18n %} {% load static %}
{% block title %}{% trans "Cart" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'drug/css/order_summary.css' %}" />
{% endblock %}

{% block content %}

<h1>{% trans "This is the order summary" %}</h1>

<div class="order_content">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Drug Generic Name</th>
                <th>Drug Brand Name</th>
                <th>Price</th>
                <th>Discount Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for order_drug in drug.drugs.all %}

            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ order_drug.drug.generic_name }}</td>
                <td>{{ order_drug.drug.brand_name }}</td>
                <td>{{ order_drug.drug.price }}</td>

                {% if order_drug.drug.discount_price %}

                <td>{{ order_drug.drug.discount_price }}</td>

                {% else %}

                <td>-</td>

                {% endif %}

                <td class="qty">
                    <a class="reduce" href="{% url 'drug:remove_single_drug_from_cart' order_drug.drug.slug %}"><i
                            class="fa fa-minus"></i></a>
                    {{ order_drug.quantity }}
                    <a class="add" href="{% url 'drug:add_to_cart' order_drug.drug.slug %}"><i
                            class="fa fa-plus"></i></a></td>
                <td class="discount">

                    {% if order_drug.drug.discount_price %}

                    {{ order_drug.get_total_discount_drug_price }} CFA

                    <span id="discount">saving {{ order_drug.get_amount_saved }} CFA</span>

                    {% else %}

                    {{ order_drug.get_total_drug_price }} CFA

                    {% endif %}
                </td>

                <td>
                    <a class="button red" href="{% url 'drug:remove_from_cart' order_drug.drug.slug %}"><span><i
                                class="fa fa-trash"></i></span> Remove Drug</a>
                </td>
            </tr>

            {% empty %}

            <tr>
                <td colspan="8">Your cart is Empty</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    {% if total %}

    <div class="total">
        <p>Total : <span>{{ total }} CFA</span></p>
    </div>

    {% endif %}

</div>

<!-- print -->
<div class="continue">
    <a class="button" href="{% url 'drug:list' %}"><span><i class="fa fa-list"></i></span> Continue sales</a>
    <a class="button" href="#"><span><i class="fa fa-calendar-check-o"></i></span> Proceed to check out</a>
</div>

</div>

{% endblock %}

{% block js %}

<script src="{% static 'base/js/button.js' %}"></script>

{% endblock %}