<!DOCTYPE html>
<html>

<head>

  {% load cart_template_tags %}
  {% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}

  <link rel="stylesheet" href="{% static 'base/css/nav.css' %}" />

  {% block css %}{% endblock %}
</head>

<body>

  <main>
    {% block body %}

    <nav class="nav">
      <div class="logo">
        <img src="{% static 'base/img/logo.png' %}" alt="logo">
        <p>pms</p>
      </div>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'drug:list' %}">Drugs</a>
          <span class="bar"></span>
        </li>
        {% if request.user.is_pharmacist %}
        <li>
          <a href="{% url 'drug:order_summary' %}"><span>{{ request.user|cart_item_count }} </span><i
              class="fa fa-shopping-cart"></i></a>
          <span class="bar"></span>
        </li>
        {% endif %}
        {% if request.user.is_pharmacist or request.user.is_admin %}
        <li>
          <a href="{% url 'home' %}">Dashboard</a>
          <span class="bar"></span>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'core:profile' name=request.user.first_name %}">Profile</a>
          <span class="bar"></span>
        </li>
        <li>
          <a href="#">Settings</a>
          <span class="bar"></span>
        </li>
        <li>
          <a href="{% url 'account_logout' %}">Logout</a>
          <span class="bar"></span>
        </li>
        {% else %}

        <li>
          <a href="{% url 'account_login' %}">Login</a>
          <span class="bar"></span>
        </li>
        <li>
          <a href="{% url 'account_signup' %}">SignUp</a>
          <span class="bar"></span>
        </li>
        {% endif %}
      </ul>
    </nav>

    {% if messages %}
    <div class="messages">
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
          {{ message|safe }}
          </li>
          {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, obcaecati doloremque quia vero iusto alias
      error tenetur quis temporibus dolorem blanditiis facere beatae fugiat, aliquid, autem eligendi reprehenderit optio
      dolorum!</p> -->
    {% endblock %}

    {% block extra_body %}
    {% endblock %}

  </main>


  {% block js %}{% endblock %}

</body>

</html>