.drug_register {
    color: #fff;
}

.drug_register {
    /* background: red; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 40px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/accounts/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* border: none; */
}

.drug_register h2 {
    margin-bottom: 30px;
}

.drug_register .alert_error {
    color: red;
    margin: 8px auto;
}

.drug_register .alert_error ul {
    list-style: none;
}

.drug_register .helptext {
    color: green;
    font-size: 14px;
}

.drug_register form {
    display: block;
}

.drug_register .form_content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.drug_register .form_content .form1 {
    margin-right: 50px;
}

/* form starting stylings ------------------------------- */

.drug_register .group {
    /* border: 1px solid red; */
    position: relative;
    margin: 15px auto;
    /* border: 1px solid black; */
}

.drug_register .des textarea,
.drug_register .category select {
    padding: 10px;
    margin-top: 5px;
    display: block;
    width: 400px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.drug_register .category select option {
    color: #fff;
    background-color: var(--nav-bg);
}

.drug_register .des textarea {
    overflow: auto;
    height: 100px;
    resize: none;
}

.drug_register input {
    font-size: 18px;
    padding: 10px 10px 10px 50px;
    margin-top: 5px;
    display: block;
    width: 400px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #757575;
}

.drug_register .image {
    color: #333;
}

.drug_register input[type="file"] {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fff;
}

.drug_register .icon {
    position: absolute;
    top: 44%;
    left: 8px;
    /* bottom: 50%; */
    transform: translateY(-23%);
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.5)
        /* margin-right: 40px; */
}

.drug_register .form2 .price .icon {
    top: 60%;
}

.drug_register .date {
    margin: 15px auto;
    position: relative;
}

.drug_register .date .icon {
    color: red;
    position: absolute;
    top: 40px;
}

.drug_register .icon i {
    font-size: 18px;
    color: #333;
}

/* .drug_register .image i {
    color: #fff;
} */

.drug_register input:focus {
    outline: none;
}

/* LABEL ======================================= */

.drug_register label {
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}