@import url('https://fonts.googleapis.com/css?family=Lato:100|Poppins:200|ZCOOL+KuaiLe');


:root {
    --general-font: 'Poppins', sans-serif;
    --nav-bg: #2a2939;
    --default-color: #00c8ce;
    --dashboard-nav: #39898c;
    --button-bg: #726284;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: var(--general-font);
    padding: 0;
    margin: 0;
    /* background: red; */
    /* background-color: grey; */
    /* background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj09PQf/c7fAAAAGklEQVR4Xq3MIQEAAADDIPqX/kvMIMEWEm8O7b0/wewc/NcAAAAASUVORK5CYII=) repeat; */
}

main {
    /* height: 100vh; */
    position: relative;
}

main .content {
    position: relative;
    /* border: 1px solid green;
    height: 100%; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

nav {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav .logo {
    height: 50px;
    width: 50px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

nav .logo p {
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    margin-right: 40px;
}


/* BOTTOM BARS ================================= */

nav ul li .bar {
    position: relative;
    display: block;
    /* width: 400px; */
}

nav ul li .bar:before,
nav ul li .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--default-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

nav ul li .bar:before {
    left: 50%;
}

nav ul li .bar:after {
    right: 50%;
}

/* active state */

nav ul li a:hover~.bar:before,
nav ul li a:hover~.bar:after {
    width: 50%;
}

nav ul li input:focus {
    border: none;
}



nav ul a {
    display: block;
    text-decoration: none;
    /* border: 1px solid rgba(0, 0, 0, 0.7);
    border: 1px solid #fff; */
    border-radius: 10px;
    color: #fff;
    padding: 13px 30px;
    font-size: 16px;
    /* margin-right: 15px; */
}


/* this is for messages */

main .messages {
    /* position: absolute;
    top: 50; */
    /* background-color: red; */
    /* text-align: center; */
}

main .messages ul {
    list-style: none;
    /* position: absolute; */
    width: 100%;
}

main .messages ul li {
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    list-style-type: square;
    padding: 10px;
}

main .messages ul li.success {
    background: rgb(73, 255, 27);
    /* padding: 600px auto; */
}

main .messages ul li.danger {
    background: firebrick
        /* padding: 600px auto; */
}

main .messages ul li.error {
    background: red
        /* padding: 600px auto; */
}

main .messages ul li.info {
    background: #ecb98b;
    /* padding: 600px auto; */
}

main .messages ul li p {
    padding: 40px auto;
}